---
import AdminThemeForm from '@components/AdminThemeForm/AdminThemeForm.svelte'
import type { NavLink } from '@constants/navLink'
import whiteRightArrowImgSrc from '@assets/white-arrow-right.svg'
import homeHeroDefaultImgSrc from '@assets/home-config-default-hero-img.svg'
import type {
  ClubsConfiguration,
  ClubsPluginOption,
  ClubsPluginOptions,
  ClubsPropsAdminPages,
} from '@devprotocol/clubs-core'
import type { GlobalConfigValue, HomeConfigValue, colorPresets as ColorPresets } from '.'
import type { UndefinedOr } from '@devprotocol/util-ts'

const { options, config, colorPresets, clubs } =
  Astro.props as ClubsPropsAdminPages & {
    options: ClubsPluginOptions
    config: ClubsConfiguration
    colorPresets: typeof ColorPresets
  }

const allOptions = config.options

const socialLinks: NavLink[] =
  (allOptions?.find((option: ClubsPluginOption) => option.key === 'socialLinks')
    ?.value as NavLink[]) ?? []

const navigationLinks: NavLink[] =
  (allOptions?.find((option) => option.key === 'navigationLinks')
    ?.value as NavLink[]) ?? []
---

<div>
  <AdminThemeForm
    client:load
    whiteRightArrowImgSrc={whiteRightArrowImgSrc}
    navigationLinks={navigationLinks}
    socialLinks={socialLinks}
    homeHeroDefaultImgSrc={homeHeroDefaultImgSrc}
    options={options}
    config={config}
    colorPresets={colorPresets}
    currentPluginIndex={clubs.currentPluginIndex}
  />
</div>
