---
import { config as _config } from '@fixtures/config'
import { adminFactory } from '@devprotocol/clubs-core'
import admin from '@plugins/admin'
import SetupLayout from '@layouts/SetupWithoutAside.astro'
import PublishGrants from '@components/PublishGrants/PublishGrants'
import checkImage from '@assets/step-check.svg'
import roundedSquareImage from '@assets/step-rounded-square.svg'
import PublishConnect from '@components/PublishConnect/PublishConnect.vue'
import PublishNetworkSelection from '@components/PublishNetworkSelection/PublishNetworkSelection.vue'

const { site } = Astro.params

const { getStaticPaths, getCurrentConfig } = adminFactory({
  config: async () => await _config(site),
  plugins: {
    admin,
  },
})

const config = await getCurrentConfig()
const path = (await getStaticPaths()).find(({ props }) => props.clubs)

if (!path) {
  throw new Error('Path undefined: ', path)
}

const draftOptions = config.options?.find((opt) => opt.key === '__draft')
const draftOptionsValue =
  draftOptions &&
  (draftOptions.value as {
    isInDraft: boolean
    address: string
    uid: string
    category: string
  })
---

<SetupLayout {config} {...path.props} setupStep="PUBLISH">
  <section class="grid gap-16">
    <h2 class="font-title text-2xl font-bold">Preview</h2>
    <PublishConnect client:visible checkImage={checkImage} />
    <PublishNetworkSelection
      client:visible
      checkImage={checkImage}
      roundedSquareImage={roundedSquareImage}
      category={draftOptionsValue?.category || ''}
      propertyAddress={config.propertyAddress}
    />
    <PublishGrants client:visible />
  </section>
</SetupLayout>
