---
import { config as _config } from '@fixtures/config'
import { adminFactory } from '@devprotocol/clubs-core'
import admin from '@plugins/admin'
import SetupLayout from '@layouts/SetupWithoutAside.astro'
import PublishGrants from '@components/PublishGrants/PublishGrants'
import checkImage from '@assets/step-check.svg'
import roundedSquareImage from '@assets/step-rounded-square.svg'
import PublishConnect from '@components/PublishConnect/PublishConnect.vue'

const { site } = Astro.params

const { getStaticPaths, getCurrentConfig } = adminFactory({
  config: async () => await _config(site),
  plugins: {
    admin,
  },
})

const config = await getCurrentConfig()
const path = (await getStaticPaths()).find(({ props }) => props.clubs)

if (!path) {
  throw new Error('Path undefined: ', path)
}
---

<SetupLayout {config} {...path.props} setupStep="PUBLISH">
  <section class="grid gap-16">
    <h2 class="font-title text-2xl font-bold">Preview</h2>
    <PublishConnect client:visible checkImage={checkImage} />
    <section class="flex grid-cols-2 items-center justify-start gap-8">
      <section class="grid w-[49%] gap-3">
        <p class="font-mono text-base font-normal">2/</p>
        <section
          class="align-items-center flex items-center justify-items-center gap-3"
        >
          <img alt="Status" src={checkImage} class="h-6 w-6" />
          <h2 class="font-title text-2xl font-bold opacity-50">
            <s>Choose network</s>
          </h2>
        </section>
        <p class="text-base">What is the different between networks?</p>
      </section>
      <section class="grid w-[49%] grid-cols-3 gap-4 p-4">
        <button
          class="rounded border-[3px] border-[#000000] bg-[#040B10] py-6 text-center opacity-50"
        >
          <p class="font-DMSans text-center text-base font-bold text-[#FFFFFF]">
            Polygon
          </p>
          <p class="font-DMSans text-center text-xs font-medium text-[#FFFFFF]">
            Recommended
          </p>
        </button>
        <button
          class="rounded border-[3px] border-[#000000] bg-[#040B10] py-6 text-center opacity-50"
        >
          <p class="font-DMSans text-center text-base font-bold text-[#FFFFFF]">
            Arbitrum
          </p>
        </button>
        <button
          class="rounded border-[3px] border-[#000000] bg-[#040B10] py-6 text-center opacity-50"
        >
          <p class="font-DMSans text-center text-base font-bold text-[#FFFFFF]">
            Ethereum
          </p>
        </button>
      </section>
    </section>
    <section class="flex grid-cols-2 items-start justify-start gap-8">
      <section class="grid w-[49%] gap-3">
        <p class="font-mono text-base font-normal">3/</p>
        <h2 class="font-title text-2xl font-bold">Activate</h2>
      </section>
      <section class="w-[49%] p-4">
        <section class="mb-5 flex items-center justify-between">
          <section
            class="align-items-center flex items-center justify-items-center gap-2"
          >
            <img alt="Status" src={roundedSquareImage} class="h-3 w-3" />
            <p class="font-DMSans text-base font-bold">1</p>
          </section>
          <div class="ml-4 mr-7 h-0 flex-1 border-[1px] border-white"></div>
          <section
            class="align-items-center flex items-center justify-items-center gap-2"
          >
            <img alt="Status" src={roundedSquareImage} class="h-3 w-3" />
            <p class="font-DMSans text-base font-bold">2</p>
          </section>
          <div class="ml-4 mr-7 h-0 flex-1 border-[1px] border-white"></div>
          <section
            class="align-items-center flex items-center justify-items-center gap-2"
          >
            <img alt="Status" src={roundedSquareImage} class="h-3 w-3" />
            <p class="font-DMSans text-base font-bold">3</p>
          </section>
        </section>
        <button
          class="mb-4 w-full rounded border-[3px] border-[#000000] bg-[#040B10] py-6 text-center"
        >
          <p class="font-DMSans text-center text-base font-bold text-[#FFFFFF]">
            Activate
          </p>
        </button>
        <p class="font-DMSans text-base font-normal text-white">
          What is activating?
        </p>
      </section>
    </section>
    <PublishGrants client:visible />
  </section>
</SetupLayout>
