---
import AdminMembershipsAdditionForm from '@components/AdminMembershipsForm/AdminMembershipsAdditionForm.svelte'
import { ClubsPropsAdminPages } from '@devprotocol/clubs-core'
import { Membership } from '.'

const {
  membership,
  memberships,
  presets,
  clubs,
  rpcUrl,
  propertyAddress,
} = Astro.props as ClubsPropsAdminPages & {
  membership: Membership
  memberships: Membership[]
  presets: Membership[]
  rpcUrl: string
  propertyAddress: string
}
---

<div>
  <h1 class="mb-16 font-title text-lg font-bold">Membership</h1>

  <AdminMembershipsAdditionForm
    client:only="svelte"
    currentPluginIndex={clubs.currentPluginIndex}
    membership={membership}
    presets={presets}
    existingMemberships={memberships}
    rpcUrl={rpcUrl}
    propertyAddress={propertyAddress}
  />
</div>

<input id="membershipOpts" type="hidden" value={JSON.stringify(memberships)} />
<input id="propertyAddress" type="hidden" value={propertyAddress} />

<script>
  import { ClubsEvents } from '@devprotocol/clubs-core'
  import { GetModalProvider, ReConnectWallet } from '@fixtures/wallet'
  import { Membership } from '@plugins/memberships'
  import { BigNumber } from 'ethers'
  import { keccak256, parseUnits } from 'ethers/lib/utils'

  import { callSimpleCollections } from './utils/simpleCollections'

  document.body.addEventListener(
    ClubsEvents.FinishConfiguration,
    async (ev) => {
      const memOptsInput = document.getElementById(
        'membershipOpts'
      ) as HTMLInputElement
      const memOpts = JSON.parse(memOptsInput.value) as Membership[]

      const propertyAddressInput = document.getElementById(
        'propertyAddress'
      ) as HTMLInputElement
      const propAddress = propertyAddressInput.value as string

      const modalProvider = GetModalProvider()
      const { currentAddress, provider } = await ReConnectWallet(modalProvider)
      if (!currentAddress || !provider) {
        return
      }

      const images = memOpts.map((opt) => ({
        src: opt.imageSrc,
        requiredETHAmount: parseUnits(String(opt.price)).toString(),
        requiredETHFee: opt.fee?.percentage
          ? parseUnits(
              BigNumber.from(opt.price).mul(opt.fee.percentage).toString()
            ).toString()
          : 0,
        gateway: currentAddress,
      }))

      const keys: string[] = memOpts?.map((opt) => keccak256(opt.payload)) || []

      await callSimpleCollections(provider, 'setImages', [
        propAddress,
        images,
        keys,
      ])
    }
  )
</script>
