---
import type { Membership } from '@plugins/memberships'
import IdPage from './Id'
import type { CMValues } from '.'
import Checkout from '@components/Checkout/Checkout.astro'
import { replaceWithFwdHost } from '@fixtures/url'

const { cm, product, rpcUrl, propertyAddress, ...other } = Astro.props as {
  cm: CMValues
  product: Membership
  rpcUrl: string
  propertyAddress: string
}
const url = new URL(replaceWithFwdHost(Astro.request))
---

<Checkout
  amount={product.price}
  destination={propertyAddress}
  fiatCurrency="USD"
  rpcUrl={rpcUrl}
  payload={product.payload}
  description={product.description}
  useInjectedTransactionForm={true}
  itemImageSrc={product.imageSrc}
  itemName={product.name}
  accessControlUrl={product.accessControl?.url}
  accessControlDescription={product.accessControl?.description}
  {...other}
>
  <div slot="checkout:main:transaction-form" class="p-5">
    <IdPage
      client:load
      cm={cm}
      rpcUrl={rpcUrl}
      propertyAddress={propertyAddress}
      product={product}
      baseUrl={url.toString()}
    />
  </div>
  <span slot="checkout:after:price" class="text-sm font-bold text-black/80"
    >+ credit card fees</span
  >
</Checkout>
