---
import UserProfileEditButton from './components/UserProfileEditButton.svelte'
import UserAssets from './components/UserAssets.vue'
import Layout from './Layout.astro'
import { isAddress } from 'ethers'
import type { Profile } from '@pages/api/profile'
import { getProfile } from '@fixtures/api/profile'
import Icon from 'src/pages/passport2/components/Icons.vue'
import dummyData from './dummyData.json'
import { passportClass } from '@fixtures/ui/passport'
import { markdownToHtml, ProseTextInherit } from '@devprotocol/clubs-core'

const { id } = Astro.params
const isEOA = isAddress(id)

const profile: Profile = await getProfile({ id: id ?? '' })
const isLocal =
  Astro.url.hostname.includes('localhost') ||
  /^[\d\.]+$/.test(Astro.url.hostname)
const htmlDescription = markdownToHtml(dummyData.description)
---

<Layout theme="auto">
  <div
    class="grid justify-items-start max-w-screen-lg mx-auto px-4 grid gap-24 pb-24"
  >
    <div class="flex justify-between items-center self-stretch">
      <!-- Left side -->
      <div
        class="flex items-center gap-6"
        class:list={passportClass('user-info')}
      >
        <!-- Avatar  -->
        <span
          class="flex flex-col items-center p-2 rounded-full bg-white"
          class:list={passportClass('avatar-container')}
        >
          <img
            src={profile.avatar}
            class="rounded-full object-cover w-40 h-40 bg-lightgray bg-cover bg-center bg-no-repeat"
            class:list={passportClass('avatar')}
            alt=""
          />
        </span>
        <!-- Username -->
        <span
          class="flex justify-center items-center gap-6 px-6 py-3 rounded-xl bg-white"
          class:list={passportClass('username-container')}
        >
          <span
            class="text-black text-center font-dm-sans text-4xl font-bold leading-none"
            class:list={passportClass('username')}
          >
            {profile.username}
          </span>
        </span>
      </div>
      {
        /*
      <!-- Right side BGM-->
      <div
        class="flex items-center gap-[15px] px-[16px] py-[8px] rounded-lg bg-white"
      >
        <!-- Mute Button -->
        <Icon icon="muted" />

        <!-- Music Waves -->
        <Icon icon="music_waves" />
        <!-- Music Name -->
        <span
          class="text-black truncate font-dm-sans text-[16px] font-bold leading-normal"
        >
          {dummyData.musicName}
        </span>
      </div>
      */
      }
    </div>
    <div
      class="grid grid-cols-5 items-start gap-6 p-3 rounded-lg bg-white"
      class:list={passportClass('links-container')}
    >
      <Icon icon="x" />
      <Icon icon="twitch" />
      <Icon icon="instagram" />
      <Icon icon="tiktok" />
      <Icon icon="youtube" />
    </div>
    <!-- Description -->
    <div
      class="flex w-full justify-center items-center gap-2.5 p-4 self-stretch rounded-xl"
      class:list={[passportClass('description-container')]}
    >
      <div
        class:list={[ProseTextInherit, passportClass('description')]}
        set:html={htmlDescription}
      />
    </div>

    <!-- Middle Content -->
    <div class="flex flex-col items-center gap-[96px] self-stretch">
      <div
        class="flex flex-col items-start gap-[46px] self-stretch"
        class:list={passportClass('video-container')}
      >
        <img
          src={dummyData.videoThumbnail}
          class="h-[577px] self-stretch rounded-sm"
          class:list={passportClass('video')}
          alt=""
        />
      </div>
    </div>
    {isEOA && <UserAssets client:load account={id ?? ''} local={isLocal} />}

    <a href={`/passport/${id}/clubs`} class="hs-link place-self-start">Clubs</a>
  </div>
</Layout>
