---
import UserProfileEditButton from './components/UserProfileEditButton.svelte'
import UserAssets from './components/UserAssets.vue'
import Layout from './Layout.astro'
import { isAddress } from 'ethers'
import type { Profile } from '@pages/api/profile'
import { getProfile } from '@fixtures/api/profile'
import Icon from 'src/pages/passport2/components/Icons.vue'
import dummyData from './dummyData.json'

const { id } = Astro.params
const isEOA = isAddress(id)

const profile: Profile = await getProfile({ id: id ?? '' })
const isLocal =
  Astro.url.hostname.includes('localhost') ||
  /^[\d\.]+$/.test(Astro.url.hostname)
---

<Layout connectButton="show" theme="auto" pageTitle="Passport">
  <div class="max-w-screen-lg mx-auto px-4 grid gap-24 pb-24">
    <div class="flex justify-between items-center self-stretch">
      <!-- Left side -->
      <div class="flex items-center gap-4.5">
        <!-- Avatar  -->
        <span
          class="flex flex-col items-center gap-[32px] p-[8px] rounded-full border border-[#C4C4C4] bg-[#F1F1F1]"
        >
          <img
            src={profile.avatar}
            class="rounded-full w-full h-full object-cover w-[176px] h-[176px] rounded-full bg-lightgray bg-cover bg-center bg-no-repeat"
            alt=""
          />
        </span>
        <!-- Username -->
        <span
          class="flex justify-center items-center gap-[10px] px-[16px] py-[6px] rounded-xl bg-white"
        >
          <span
            class="text-black text-center font-dm-sans text-[48px] font-bold leading-none"
          >
            {profile.username}
          </span>
          <img
            src={dummyData.achivementBadge}
            class="w-[49px] h-[49px]"
            alt=""
          />
        </span>
      </div>
      <!-- Right side BGM-->
      <div
        class="flex items-center gap-[15px] px-[16px] py-[8px] rounded-lg bg-white"
      >
        <!-- Mute Button -->
        <Icon icon="muted" />

        <!-- Music Waves -->
        <Icon icon="music_waves" />
        <!-- Music Name -->
        <span
          class="text-black truncate font-dm-sans text-[16px] font-bold leading-normal"
        >
          {dummyData.musicName}
        </span>
      </div>
    </div>
    <div
      class="flex flex-col items-start gap-[10px] p-[16px] rounded-lg bg-white"
    >
      <div class="flex items-center gap-[32px] self-stretch">
        <Icon icon="x" />
        <Icon icon="twitch" />
        <Icon icon="instagram" />
        <Icon icon="tiktok" />
        <Icon icon="youtube" />
      </div>
    </div>
    <!-- Description -->
    <div
      class="flex justify-center items-center gap-[10px] p-[16px] self-stretch rounded-xl bg-[#B76DD3]"
    >
      <span
        class="flex-1 text-white font-hanken text-[24px] font-normal leading-normal"
      >
        {dummyData.description}
      </span>

      <!-- Middle Content -->
      <div class="flex flex-col items-center gap-[96px] self-stretch">
        <div class="flex flex-col items-start gap-[46px] self-stretch">
          <img
            src={dummyData.videoThumbnail}
            class="h-[577px] self-stretch rounded-sm"
            alt=""
          />
        </div>
      </div>
      {isEOA && <UserAssets client:load account={id ?? ''} local={isLocal} />}

      <a href={`/passport/${id}/clubs`} class="hs-link place-self-start"
        >Clubs</a
      >
    </div>
  </div>
</Layout>
