---
import type { Membership } from '@devprotocol/clubs-core'
import ClaimButton from './components/ClaimButton.svelte'
import type { Invitation } from './redis-schema'

const fullUrl = Astro.url.pathname
// get the last value of the url
const invitationId = fullUrl.split('/').pop()
console.log('invitation id is: ', invitationId)

const { memberships, baseUrl } = Astro.props as {
  memberships: Membership[]
  baseUrl: string
}

const res = await fetch(
  // `${baseUrl}/api/devprotocol:clubs:plugin:invitations/invitations/${invitationId}`,
  // `http://pizza.localhost:3000/api/devprotocol:clubs:plugin:invitations/invitations/${invitationId}`,
  `http://localhost:3000/sites_/pizza/api/devprotocol:clubs:plugin:invitations/invitations/${invitationId}`,
  {
    method: 'GET',
    headers: {
      'Content-Type': 'application/json',
    },
  }
)

if (!res.ok) {
  console.log('in here!')
  return {
    status: 404,
    headers: {
      location: '/404',
    },
  }
}

const { invitation } = (await res.json()) as { invitation: Invitation }

const membership = memberships.find(
  (m) => m.payload === invitation.membership.payload
)

if (!membership) {
  console.log('no membership!')
  return {
    status: 404,
    headers: {
      location: '/404',
    },
  }
}
---

<div class="flex flex-col container mx-auto max-w-sm">
  <img class="mb-4" src={membership.imageSrc} alt={membership.name} />

  <div class="mb-4">
    <ClaimButton {invitation} />
  </div>

  <div class="flex flex-col">
    <h2>{membership.name}</h2>

    <p class="bg-gray-50 rounded p-8">{membership.description}</p>
  </div>
</div>
