---
import { isAddress } from 'ethers'
import type { Profile } from '@pages/api/profile'
import { getProfile } from '@fixtures/api/profile'
import { whenDefined } from '@devprotocol/util-ts'
import { passportClass } from '@fixtures/ui/passport'
import { getPassportItemForPayload } from '@fixtures/api/passportItem'
import { markdownToHtml, ProseTextInherit } from '@devprotocol/clubs-core'

import Layout from './Layout.astro'
import dummyData from './dummyData.json'
import Icon from './components/Icons.vue'
import UserAssets from './components/UserAssets.vue'
import PassportClips from './components/PassportClips.vue'
import UserProfileEditButton from './components/UserProfileEditButton.svelte'

const { id } = Astro.params
const isEOA = isAddress(id)

const profile: Profile = await getProfile({ id: id ?? '' })

const isLocal =
  Astro.url.hostname.includes('localhost') ||
  /^[\d\.]+$/.test(Astro.url.hostname)

const htmlDescription = markdownToHtml(profile.description)

const _passportSkinBGMs = profile?.skins?.at(0)?.bgm
const _passportSkinClips = profile?.skins?.at(0)?.clips
const _passportSkinVideos = profile?.skins?.at(0)?.videos

const passportSkinBGMs = await whenDefined(_passportSkinBGMs, () =>
  getPassportItemForPayload({
    sTokenPayload: _passportSkinBGMs ?? '',
  })
    .then((item) => (item instanceof Error ? undefined : item))
    .catch(() => undefined),
)

const passportSkinVideos = await whenDefined(
  _passportSkinVideos,
  async (videos) => {
    if (!videos.length) {
      return undefined
    }

    return Promise.all(
      videos.map((item) =>
        getPassportItemForPayload({ sTokenPayload: item ?? '' })
          .then((item) => (item instanceof Error ? undefined : item))
          .catch(() => undefined),
      ) ?? [],
    )
      .then((items) => items.filter((items) => !!items))
      .then((items) => (items.length ? items : undefined))
      .catch(() => undefined)
  },
)

const passportSkinClips = await whenDefined(
  _passportSkinClips,
  async (clips) => {
    if (!clips.length) {
      return undefined
    }

    return Promise.all(
      clips.map((item) =>
        getPassportItemForPayload({ sTokenPayload: item ?? '' })
          .then((item) => (item instanceof Error ? undefined : item))
          .catch(() => undefined),
      ) ?? [],
    )
      .then((items) => items.filter((items) => !!items))
      .then((items) => (items.length ? items : undefined))
      .catch(() => undefined)
  },
)
---

<Layout theme="auto" sTokenPayload={profile?.skins?.at(0)?.theme}>
  <div class="grid gap-24">
    <section class:list={passportClass('account-container')}>
      <span
        class="grid grid-cols-[6rem_1fr] lg:grid-cols-[6rem_1fr_auto] justify-items-start max-w-screen-lg mx-auto px-4 gap-4 lg:gap-y-4"
        class:list={passportClass('account-content')}
      >
        <span
          class="col-start-1 col-span-1"
          class:list={passportClass('avatar-container')}
        >
          <span
            class="flex flex-col items-center p-1.5 lg:p-1.5 w-24 h-24 rounded-full bg-surface-300"
            class:list={passportClass('avatar-content')}
          >
            <img
              src={profile.avatar}
              class="rounded-full object-cover w-full aspect-square bg-lightgray bg-cover bg-center bg-no-repeat"
              class:list={passportClass('avatar')}
              alt="Profile"
            />
          </span>
        </span>

        <span
          class="col-start-2 col-span-1 content-center"
          class:list={passportClass('username-container')}
        >
          <span
            class="flex justify-center items-center gap-6 px-3 py-1.5 lg:px-4 lg:py-2 rounded-xl bg-surface-200"
            class:list={passportClass('username-content')}
          >
            <span
              class="font-bold"
              class:list={passportClass('username')}
            >
              {profile.username}
            </span>

            <UserProfileEditButton
              client:only="svelte"
              id={id}
              additionalClasses={passportClass('edit-button')}
            />
          </span>
        </span>

        {
          passportSkinBGMs && (
            <span
              class="col-start-1 row-start-2 lg:col-start-3 lg:row-start-1 col-span-1 row-span-1 content-center"
              class:list={passportClass('music-container')}
            >
              <span
                class="flex items-center gap-[15px] px-4 py-2 rounded-lg bg-surface-200"
                class:list={passportClass('music-content')}
              >
                <span class="opacity-50">
                  <Icon icon="muted" />
                </span>

                <span>
                  <Icon icon="music_waves" />
                </span>

                <span class="truncate font-bold">{dummyData.musicName}</span>
              </span>
            </span>
          )
        }

        {
          profile?.sns && (
            <span
              class="col-start-1 col-span-2 lg:col-span-3 row-start-3 row-span-1 lg:row-start-2"
              class:list={passportClass('links-container')}
            >
              <span
                class="grid grid-cols-5 items-start gap-4 px-4 py-2 rounded-lg bg-white"
                class:list={passportClass('links-content')}
              >
                <a
                  href={`https://x.com/${profile?.sns?.x}`}
                  target="_blank"
                  class={`${profile?.sns?.x ? 'cursor-pointer' : 'cursor-not-allowed'}`}
                >
                  <Icon icon="x" />
                </a>
                <a
                  href={`https://twitch.tv/${profile?.sns?.twitch}`}
                  target="_blank"
                  class={`${profile?.sns?.twitch ? 'cursor-pointer' : 'cursor-not-allowed'}`}
                >
                  <Icon icon="twitch" />
                </a>
                <a
                  href={`https://instagram.com/${profile?.sns?.instagram}`}
                  target="_blank"
                  class={`${profile?.sns?.instagram ? 'cursor-pointer' : 'cursor-not-allowed'}`}
                >
                  <Icon icon="instagram" />
                </a>
                <a
                  href={`https://tiktok.com/${profile?.sns?.tiktok}`}
                  target="_blank"
                  class={`${profile?.sns?.tiktok ? 'cursor-pointer' : 'cursor-not-allowed'}`}
                >
                  <Icon icon="tiktok" />
                </a>
                <a
                  href={`https://youtube.com/${profile?.sns?.youtube}`}
                  target="_blank"
                  class={`${profile?.sns?.youtube ? 'cursor-pointer' : 'cursor-not-allowed'}`}
                >
                  <Icon icon="youtube" />
                </a>
              </span>
            </span>
          )
        }

        <span
          class="flex justify-center col-start-1 col-span-2 lg:col-span-3 row-start-4 lg:row-start-3 row-span-1 w-full"
          class:list={[passportClass('description-container')]}
        >
          <span
            class="flex w-full justify-center items-center gap-2.5 px-4 py-2 self-stretch rounded-xl bg-white"
            class:list={[passportClass('description-content')]}
          >
            <div
              class="text-2xl"
              class:list={[ProseTextInherit, passportClass('description')]}
              set:html={htmlDescription}
            />
          </span>
        </span>
      </span>
    </section>

    {
      passportSkinVideos && (
        <section class="grid justify-items-start max-w-screen-lg mx-auto px-4 gap-24 mb-10">
          <span class:list={passportClass('video-container')}>
            <span class:list={passportClass('video-content')}>
              <img
                src={dummyData.videoThumbnail}
                class="w-full h-auto aspect-video rounded-sm"
                class:list={passportClass('video')}
                alt="Video"
              />
            </span>
          </span>
        </section>
      )
    }

    <!-- demo
    <section
      class="relative flex flex-col items-center gap-4 mx-auto mb-10 px-4 max-w-screen-lg"
    >
      <ul class="flex items-end gap-6">
        <li class="flex flex-col gap-2 p-2 w-[9.357rem] bg-white rounded">
          <div class="rounded object-contain">
            <img src={dummyData.passportSkinsImage} alt="Clip" />
          </div>
          <div class="flex flex-col gap-1">
            <h3
              class="overflow-hidden text-ellipsis text-nowrap text-base font-bold"
            >
              Clip Title #1
            </h3>
            <p
              class="overflow-hidden text-ellipsis text-nowrap text-sm"
              style="--tw-text-opacity: 1"
            >
              Lorem ipsum dolor sit amet, consectetur adipiscing elit. Sed do
              eiusmod tempor incididunt ut labore et dolore magna aliqua.
            </p>
          </div>
        </li>
        <li class="flex flex-col gap-2 p-2 w-[10.9375rem] bg-white rounded">
          <div class="rounded object-contain">
            <img src={dummyData.passportSkinsImage} alt="Clip" />
          </div>
          <div class="flex flex-col gap-1">
            <h3
              class="overflow-hidden text-ellipsis text-nowrap text-base font-bold"
            >
              Clip Title #2
            </h3>
            <p
              class="overflow-hidden text-ellipsis text-nowrap text-sm"
              style="--tw-text-opacity: 1"
            >
              Lorem ipsum dolor sit amet, consectetur adipiscing elit. Sed do
              eiusmod tempor incididunt ut labore et dolore magna aliqua.
            </p>
          </div>
        </li>
        <li class="flex flex-col gap-2 p-2 w-[12.5rem] bg-white rounded">
          <div class="rounded object-contain">
            <img class="w-full" src={dummyData.passportSkinsImage} alt="Clip" />
          </div>
          <div class="flex flex-col gap-1">
            <h3
              class="overflow-hidden text-ellipsis text-nowrap text-base font-bold"
            >
              Clip Title #3
            </h3>
            <p
              class="overflow-hidden text-ellipsis text-nowrap text-sm"
              style="--tw-text-opacity: 1"
            >
              Lorem ipsum dolor sit amet, consectetur adipiscing elit. Sed do
              eiusmod tempor incididunt ut labore et dolore magna aliqua.
            </p>
          </div>
        </li>
        <li class="flex flex-col gap-2 p-2 w-[10.9375rem] bg-white rounded">
          <div class="rounded object-contain">
            <img src={dummyData.passportSkinsImage} alt="Clip" />
          </div>
          <div class="flex flex-col gap-1">
            <h3
              class="overflow-hidden text-ellipsis text-nowrap text-base font-bold"
            >
              Clip Title #4
            </h3>
            <p
              class="overflow-hidden text-ellipsis text-nowrap text-sm"
              style="--tw-text-opacity: 1"
            >
              Lorem ipsum dolor sit amet, consectetur adipiscing elit. Sed do
              eiusmod tempor incididunt ut labore et dolore magna aliqua.
            </p>
          </div>
        </li>
        <li class="flex flex-col gap-2 p-2 w-[9.357rem] bg-white rounded">
          <div class="rounded object-contain">
            <img src={dummyData.passportSkinsImage} alt="Clip" />
          </div>
          <div class="flex flex-col gap-1">
            <h3
              class="overflow-hidden text-ellipsis text-nowrap text-base font-bold"
            >
              Clip Title #5
            </h3>
            <p
              class="overflow-hidden text-ellipsis text-nowrap text-sm"
              style="--tw-text-opacity: 1"
            >
              Lorem ipsum dolor sit amet, consectetur adipiscing elit. Sed do
              eiusmod tempor incididunt ut labore et dolore magna aliqua.
            </p>
          </div>
        </li>
      </ul>

      <ul class="passport-skins flex items-end gap-2">
        <li class="passport-skins-content flex flex-col gap-2 p-2 w-[9.357rem] bg-white rounded">
          <div class="rounded object-contain">
            <img src={dummyData.passportSkinsImage} alt="Clip" />
          </div>
          <div class="flex flex-col gap-1">
            <h3
              class="overflow-hidden text-ellipsis text-nowrap text-base font-bold"
            >
              Clip Title #1
            </h3>
            <p
              class="overflow-hidden text-ellipsis text-nowrap text-sm"
              style="--tw-text-opacity: 1"
            >
              Lorem ipsum dolor sit amet, consectetur adipiscing elit. Sed do
              eiusmod tempor incididunt ut labore et dolore magna aliqua.
            </p>
          </div>
        </li>
        <li class="passport-skins-content flex flex-col gap-2 p-2 w-[9.357rem] bg-white rounded">
          <div class="rounded object-contain">
            <img src={dummyData.passportSkinsImage} alt="Clip" />
          </div>
          <div class="flex flex-col gap-1">
            <h3
              class="overflow-hidden text-ellipsis text-nowrap text-base font-bold"
            >
              Clip Title #2
            </h3>
            <p
              class="overflow-hidden text-ellipsis text-nowrap text-sm"
              style="--tw-text-opacity: 1"
            >
              Lorem ipsum dolor sit amet, consectetur adipiscing elit. Sed do
              eiusmod tempor incididunt ut labore et dolore magna aliqua.
            </p>
          </div>
        </li>
        <li class="passport-skins-content flex flex-col gap-2 p-2 w-[9.357rem] bg-white rounded">
          <div class="rounded object-contain">
            <img class="w-full" src={dummyData.passportSkinsImage} alt="Clip" />
          </div>
          <div class="flex flex-col gap-1">
            <h3
              class="overflow-hidden text-ellipsis text-nowrap text-base font-bold"
            >
              Clip Title #3
            </h3>
            <p
              class="overflow-hidden text-ellipsis text-nowrap text-sm"
              style="--tw-text-opacity: 1"
            >
              Lorem ipsum dolor sit amet, consectetur adipiscing elit. Sed do
              eiusmod tempor incididunt ut labore et dolore magna aliqua.
            </p>
          </div>
        </li>
        <li class="passport-skins-content flex flex-col gap-2 p-2 w-[9.357rem] bg-white rounded">
          <div class="rounded object-contain">
            <img src={dummyData.passportSkinsImage} alt="Clip" />
          </div>
          <div class="flex flex-col gap-1">
            <h3
              class="overflow-hidden text-ellipsis text-nowrap text-base font-bold"
            >
              Clip Title #4
            </h3>
            <p
              class="overflow-hidden text-ellipsis text-nowrap text-sm"
              style="--tw-text-opacity: 1"
            >
              Lorem ipsum dolor sit amet, consectetur adipiscing elit. Sed do
              eiusmod tempor incididunt ut labore et dolore magna aliqua.
            </p>
          </div>
        </li>
        <li class="passport-skins-content flex flex-col gap-2 p-2 w-[9.357rem] bg-white rounded">
          <div class="rounded object-contain">
            <img src={dummyData.passportSkinsImage} alt="Clip" />
          </div>
          <div class="flex flex-col gap-1">
            <h3
              class="overflow-hidden text-ellipsis text-nowrap text-base font-bold"
            >
              Clip Title #5
            </h3>
            <p
              class="overflow-hidden text-ellipsis text-nowrap text-sm"
              style="--tw-text-opacity: 1"
            >
              Lorem ipsum dolor sit amet, consectetur adipiscing elit. Sed do
              eiusmod tempor incididunt ut labore et dolore magna aliqua.
            </p>
          </div>
        </li>
      </ul>
    </section>
    -->

    <section
      class="grid justify-items-start max-w-screen-lg mx-auto px-4 gap-24 mb-10"
    >
      {
        passportSkinClips?.length && (
          <div class:list={passportClass('clips-container')}>
            <div class:list={passportClass('clips-content')}>
              <PassportClips client:load clips={passportSkinClips} />
            </div>
          </div>
        )
      }

      {isEOA && <UserAssets client:load account={id ?? ''} local={isLocal} />}

      <a href={`/passport/${id}/clubs`} class="hs-link place-self-start"
        >Clubs</a
      >
    </section>
  </div>
</Layout>
