---
import { whenDefined } from '@devprotocol/util-ts'
import { passportClass } from '@fixtures/ui/passport'
import { ClubsPictogramAdaptable as Favicon } from '@devprotocol/clubs-core/images'

import '@devprotocol/clubs-core/styles'
import type { Skin } from '@pages/api/profile'
import Header from '@components/Global/Header.astro'
import Footer from '@components/Global/Footer.vue'
import { getPassportItemForPayload } from '@fixtures/api/passportItem'
import SkinSwitch from 'src/pages/passport/components/SkinSwitch.svelte'
import AchivementNotification from '../../pages/passport/components/AchivementNotification.svelte'
import PostButton from './components/PostButton.vue'
import { parseAcceptLanguage } from 'intl-parse-accept-language'
import { getPassportOgImages } from '@fixtures/url/passports'
import Sessions from '@components/Global/Sessions.astro'
import Analytics from '@components/Analytics/Analytics.astro'

type Props = {
  eoa?: string
  skins?: Skin[]
  selectedSkinId?: string
  sTokenPayload?: string
  itemHash?: string
  theme?: 'light' | 'dark' | 'auto'
  preload?: { as: string; href: string }[]
  connectButton?: 'show' | 'hidden' | 'show-when-signedin'
  showSkinSwitcher?: boolean
  showPostButton?: 'hidden' | 'post' | 'edit'
}

const {
  theme = 'dark',
  sTokenPayload,
  skins = [],
  eoa = '',
  selectedSkinId = '',
  itemHash,
  preload = [],
  connectButton,
  showSkinSwitcher = true,
  showPostButton = 'hidden',
} = Astro.props as Props

const passportSkinTheme = await whenDefined(sTokenPayload, (payload: string) =>
  getPassportItemForPayload({
    sTokenPayload: payload ?? '',
  })
    .then((item) => (item instanceof Error ? undefined : item))
    .catch(() => undefined),
)

const requestURL = new URL(Astro.url)
const { default: image, x: imageX } = getPassportOgImages({
  url: Astro.url,
  user: eoa,
  skins,
  skinId: selectedSkinId,
  itemHash,
})
const name = 'CLUBS'
const url = 'https://www.clubs.place/'
const twitterHandle = 'poweredbyClubs'
const title = 'CLUBS | Collection-based Social Platform'
const description = 'Collect, Showcase, and Connect.'
const langs = parseAcceptLanguage(Astro.request.headers.get('Accept-Language'))
const preloads = [
  ...preload,
  { as: 'image', href: image },
  { as: 'image', href: imageX },
]
---

<html
  lang="en"
  hashi-theme={theme === 'auto' ? undefined : theme}
  class:list={passportClass()}
>
  <head>
    <title>{title}</title>

    <link rel="icon" type="image/svg" href={Favicon.src} />
    <link rel="preconnect" href="https://fonts.googleapis.com" />
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin /><link
      href="https://fonts.googleapis.com/css2?family=Poppins:wght@700&display=swap"
      rel="stylesheet"
    />

    {
      preloads.map((item) => (
        <link rel="preload" as={item.as} href={item.href} />
      ))
    }

    {
      passportSkinTheme?.itemAssetType === 'stylesheet-link' && (
        <link rel="stylesheet" href={`${passportSkinTheme.itemAssetValue}`} />
      )
    }

    {
      passportSkinTheme?.itemAssetType === 'css' && (
        <style set:html={passportSkinTheme?.itemAssetValue ?? ''} />
      )
    }

    {
      requestURL.searchParams.has('css') && (
        <link rel="stylesheet" href={requestURL.searchParams.get('css')} />
      )
    }

    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width" />
    <meta property="og:image" content={`${image}`} />
    <meta name="description" content={`${description}`} />
    <meta property="og:title" content={title} />
    <meta property="og:description" content={description} />
    <meta property="og:site_name" content={name} />
    <meta name="twitter:site" content={twitterHandle} />
    <meta name="twitter:creator" content={twitterHandle} />
    <meta name="twitter:card" content="summary_large_image" />
    <meta name="twitter:title" content={title} />
    <meta name="twitter:description" content={description} />
    <meta name="twitter:image" content={`${imageX}`} />
  </head>

  <body
    class="bg-background font-body text-surface-ink"
    class:list={passportClass('body')}
  >
    <div class:list={passportClass('hero-container')}>
      <div class:list={passportClass('hero')}></div>
    </div>
    <div
      class="relative flex flex-col max-w-full mx-auto"
      class:list={passportClass('main-container')}
      style="min-height: 100dvh"
    >
      <slot name="before-header" />

      <Header connectButton={connectButton} pageTitle="Passport">
        <AchivementNotification
          address={eoa}
          client:only="svelte"
          slot="before:heading"
        />
        {
          showSkinSwitcher && (
            <SkinSwitch
              client:load
              slot="passport:profile:switcher"
              skins={skins ?? []}
              eoa={eoa ?? ''}
              selectedSkinId={selectedSkinId ?? skins?.at(0)?.id ?? ''}
            />
          )
        }
        {
          showPostButton !== 'hidden' && (
            <PostButton
              client:only="vue"
              slot="header:before:sibling:connect-button"
              skinId={selectedSkinId}
              mode={showPostButton}
              {eoa}
            />
          )
        }
        {
          showPostButton !== 'hidden' && (
            <PostButton
              client:only="vue"
              slot="header:before:mobile-open-bar"
              skinId={selectedSkinId}
              mode={showPostButton}
              {eoa}
            />
          )
        }
      </Header>

      <div
        class:list={passportClass('main-content')}
        class="flex-grow overflow-y-auto md:overflow-y-visible"
      >
        <main class:list={passportClass('main')}>
          <slot />
        </main>
      </div>

      <Footer />
    </div>
    <Analytics />
  </body>
  <Sessions />
</html>
