---
import type { PluginMeta } from '@constants/plugins'
import type { ClubsConfiguration } from '@devprotocol/clubs-core'

import checkImage from '@assets/check.svg'
import pluginDefaultIcon from '@assets/default-plugin-icon.jpg'
import ConnectButton from '@components/Wallet/ConnectButton.vue'

const {
  config,
  plugin,
  size = 'medium',
} = Astro.props as {
  config: ClubsConfiguration
  plugin: PluginMeta
  size?: 'medium' | 'small'
}

const READMEComponent = plugin.readme
---

<section>
  <div class="inline-flex items-start justify-start space-x-24 py-16">
    <div class="inline-flex flex-col items-start justify-start space-y-20">
      <div class="inline-flex w-full max-w-full items-center justify-between">
        <p class="mtext-white text-4xl font-bold">{plugin.displayName}</p>
        <ConnectButton client:load type="filled large" chainId={config.chainId} />
      </div>
      <div class="inline-flex items-start justify-between space-x-16">
        <div class="flex items-start justify-start space-x-4">
          <img
            src={plugin.icon || pluginDefaultIcon}
            class:list={[
              'row-span-3 aspect-square rounded-2xl',
              { 'h-16 lg:h-20': size === 'medium' },
              { 'h-11 lg:h-12': size === 'small' },
            ]}
          />
          <div class="inline-flex flex-col items-start justify-start space-y-1">
            <p class="text-2xl font-bold text-white">{plugin.displayName}</p>
            <p class="text-justify text-base leading-normal text-white">
              {plugin.description}
            </p>
            <div
              class="inline-flex items-center justify-center rounded-full bg-green-500 px-1.5"
            >
              <p class="text-xs leading-none text-black">
                {
                  plugin?.offer?.price
                    ? `${Number(plugin?.offer?.price).toLocaleString('en-US', {
                        minimumFractionDigits: 2,
                        maximumFractionDigits: 3,
                      })} ${plugin?.offer?.priceCurrency}`
                    : 'Free'
                }
              </p>
            </div>
          </div>
        </div>
        <div
          class={`flex items-center justify-center rounded-full border border-green-500 ${
            plugin.added ? 'bg-native-blue-200' : 'bg-green-500'
          } px-7 py-2`}
        >
          {
            plugin.added ? (
              <div class="m-0 flex w-full max-w-full items-center justify-around gap-0.5 rounded-full p-0 px-2">
                <img src={checkImage} class="h-3 max-h-full w-3 font-bold" />
                <p class="h-fit w-fit text-base font-bold leading-normal text-black">
                  Added
                </p>
              </div>
            ) : (
              <button
                class="max-w-[231px] text-center text-base font-bold leading-normal text-white"
                disabled={plugin.added}
              >
                {`Add to your ${config.name}`}
              </button>
            )
          }
        </div>
      </div>
      <div
        class="flex w-full max-w-full items-start justify-start space-x-8 overflow-x-auto"
      >
        {
          (plugin?.previewImages?.length
            ? plugin.previewImages
            : [pluginDefaultIcon, pluginDefaultIcon, pluginDefaultIcon]
          ).map((image) => (
            <img
              class="aspect-square w-[33%] min-w-[31%] max-w-[35%] rounded-lg"
              src={image}
            />
          ))
        }
      </div>
      <div class="flex flex-col items-start justify-start space-y-8">
        <p class="w-80 text-2xl font-bold text-white">Overview</p>
        <p class="text-xl font-medium text-white" style="width: 840px;">
          <READMEComponent />
        </p>
      </div>
      <div class="flex flex-col items-start justify-start space-y-8">
        <div class="flex flex-col items-start justify-start space-y-2">
          <p class="text-base font-medium text-white text-opacity-70">
            Developer
          </p>
          <p class="max-w-xl text-xl font-medium text-white">
            {plugin.developer}
          </p>
        </div>
        <div class="flex flex-col items-start justify-start space-y-2">
          <p class="text-base font-medium text-white text-opacity-70">Clubs</p>
          <a class="text-xl font-medium text-white" href={plugin.clubsUrl}
            >{plugin.clubsUrl}</a
          >
        </div>
        <div class="flex flex-col items-start justify-start space-y-2">
          <p class="text-base font-medium text-white text-opacity-70">
            Repository
          </p>
          <a
            class="text-xl font-medium text-white underline"
            href={plugin.repositoryUrl}>{plugin.repositoryUrl}</a
          >
        </div>
      </div>
    </div>
  </div>
</section>
