---
import type { PluginMeta } from '@constants/plugins'
import type { ClubsConfiguration } from '@devprotocol/clubs-core'

import pluginDefaultIcon from '@assets/default-plugin-icon.jpg'

const {
  config,
  plugin,
  size = 'medium',
} = Astro.props as {
  config: ClubsConfiguration
  plugin: PluginMeta
  size?: 'medium' | 'small'
}

const overview =
  'Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est laborum. \n\nLorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est laborum.'
---

<section>
  <div class="inline-flex items-start justify-start space-x-24 py-16">
    <div class="inline-flex flex-col items-start justify-start space-y-20">
      <p class="text-4xl font-bold text-white">{plugin.displayName}</p>
      <div class="inline-flex items-start justify-between space-x-16">
        <div class="flex items-start justify-start space-x-4">
          <img
            src={plugin.icon || pluginDefaultIcon}
            class:list={[
              'row-span-3 aspect-square rounded-2xl',
              { 'h-16 lg:h-20': size === 'medium' },
              { 'h-11 lg:h-12': size === 'small' },
            ]}
          />
          <div class="inline-flex flex-col items-start justify-start space-y-1">
            <p class="text-2xl font-bold text-white">{plugin.displayName}</p>
            <p class="text-justify text-base leading-normal text-white">
              {plugin.description}
            </p>
            <div
              class="inline-flex items-center justify-center rounded-full bg-green-500 px-1.5"
            >
              <p class="text-xs leading-none text-black">
                {
                  plugin?.offer?.price
                    ? `${Number(plugin?.offer?.price).toLocaleString('en-US', {
                        minimumFractionDigits: 2,
                        maximumFractionDigits: 3,
                      })} ${plugin?.offer?.priceCurrency}`
                    : 'Free'
                }
              </p>
            </div>
          </div>
        </div>
        <div
          class="flex items-center justify-center rounded-full border border-green-500 bg-green-500 px-7 py-2"
        >
          <button
            class="w-[231px] text-center text-base font-bold leading-normal text-white"
            disabled={plugin.added}
          >
            {plugin.added ? `Already added` : `Add to your ${config.name}`}
          </button>
        </div>
      </div>
      <div
        class="flex w-full max-w-full items-start justify-start space-x-8 overflow-x-auto"
      >
        {
          (plugin?.previewImages?.length
            ? plugin.previewImages
            : [pluginDefaultIcon, pluginDefaultIcon, pluginDefaultIcon]
          ).map((image) => (
            <img
              class="aspect-square w-[33%] min-w-[31%] max-w-[35%] rounded-lg"
              src={image}
            />
          ))
        }
      </div>
      <div class="flex flex-col items-start justify-start space-y-8">
        <p class="w-80 text-2xl font-bold text-white">Overview</p>
        <p class="text-xl font-medium text-white" style="width: 840px;">
          {overview}
        </p>
      </div>
      <div class="flex flex-col items-start justify-start space-y-8">
        <div class="flex flex-col items-start justify-start space-y-2">
          <p class="text-base font-medium text-white text-opacity-70">
            Developer
          </p>
          <p class="max-w-xl text-xl font-medium text-white">
            {plugin.developer}
          </p>
        </div>
        <div class="flex flex-col items-start justify-start space-y-2">
          <p class="text-base font-medium text-white text-opacity-70">Clubs</p>
          <a class="text-xl font-medium text-white" href={plugin.clubsUrl}
            >{plugin.clubsUrl}</a
          >
        </div>
        <div class="flex flex-col items-start justify-start space-y-2">
          <p class="text-base font-medium text-white text-opacity-70">
            Repository
          </p>
          <a
            class="text-xl font-medium text-white underline"
            href={plugin.repositoryUrl}>{plugin.repositoryUrl}</a
          >
        </div>
      </div>
    </div>
  </div>
</section>
