---
import type { InstallablePlugins } from '@constants/plugins'
import type { ClubsConfiguration } from '@devprotocol/clubs-core'

import CheckImage from './assets/Check.astro'
import pluginDefaultIcon from '@assets/default-plugin-icon.jpg'
import ConnectButton from '@components/Wallet/ConnectButton.vue'
import { createGetPluginMeta } from './utils/createGetPluginMeta'
import AddPluginButton from '@components/AddPluginButton/AddPluginButton.vue'
import PluginItem from './components/PluginItem.astro'
import Markdown from '@components/Markdown/Markdown.astro'

const { site } = Astro.params

const { config, plugin: installablePlugins } = Astro.props as {
  config: ClubsConfiguration
  plugin: InstallablePlugins
}

const plugin = await createGetPluginMeta(config)(installablePlugins)

const READMEComponent = plugin.readme
---

<section class="my-16">
  <div class="grid gap-16">
    <div class="flex items-center justify-between">
      <p class="text-4xl font-bold">{plugin.displayName}</p>
      <ConnectButton client:load chainId={config.chainId} />
    </div>
    <div
      class="grid max-w-3xl items-start justify-between gap-8 lg:grid-cols-[3fr_1fr]"
    >
      <PluginItem plugin={plugin} truncate={false} displayStatus={false} />
      <div>
        {
          false ? (
            <span class="flex cursor-not-allowed items-center justify-center rounded-full bg-native-blue-200 px-8 py-4">
              <CheckImage class="h-3 max-h-full w-3 font-bold" />
              <p class="font-bold text-black">Added</p>
            </span>
          ) : (
            <AddPluginButton client:only="vue" plugin={plugin} site={site!} />
          )
        }
      </div>
    </div>

    {
      plugin.require?.invitation && (
        <section class="rounded bg-dp-yellow-300 p-2 text-dp-yellow-ink">
          <p class="mr-1 inline text-xs font-bold">Preview:</p>
          <p class="inline text-xs">
            This plugin is currently published as a preview version. Please wait
            a few moments until it is available for your Club. If you have any
            questions about getting started, feel free to contact us on{' '}
            <a href="https://discord.gg/TFBZGM9jf3" class="text-xs underline">
              Discord
            </a>
            .
          </p>
        </section>
      )
    }

    <div
      class="mx-[calc((100vw-100%)/-2)] flex items-start justify-start gap-8 overflow-x-auto px-4 pb-4 lg:mx-0 lg:px-0"
    >
      {
        (plugin?.previewImages?.length
          ? plugin.previewImages
          : [
              pluginDefaultIcon.src,
              pluginDefaultIcon.src,
              pluginDefaultIcon.src,
            ]
        ).map((image) => (
          <img
            class="h-[24rem] w-auto max-w-none rounded-lg lg:h-[30rem]"
            src={image}
          />
        ))
      }
    </div>
    <div class="grid max-w-3xl gap-8">
      <p class="text-2xl font-bold">Overview</p>
      <p class="">
        <Markdown>
          {READMEComponent && <READMEComponent />}
        </Markdown>
      </p>
    </div>
    <div class="grid max-w-2xl gap-8">
      {
        plugin.developer && (
          <div class="flex flex-col items-start justify-start space-y-2">
            <p class="text-base font-medium text-opacity-70">Developer</p>
            <p class="max-w-xl text-xl font-medium">{plugin.developer}</p>
          </div>
        )
      }
      {
        plugin.clubsUrl && (
          <div class="flex flex-col items-start justify-start space-y-2">
            <p class="text-base font-medium text-opacity-70">Clubs</p>
            <a class="text-xl font-medium" href={plugin.clubsUrl}>
              {plugin.clubsUrl}
            </a>
          </div>
        )
      }
      {
        plugin.repositoryUrl && (
          <div class="flex flex-col items-start justify-start space-y-2">
            <p class="text-base font-medium text-opacity-70">Repository</p>
            <a
              class="text-xl font-medium underline"
              href={plugin.repositoryUrl}
            >
              {plugin.repositoryUrl}
            </a>
          </div>
        )
      }
    </div>
  </div>
</section>
