---
import type { ExternalTool, InstallablePlugins } from '@constants/plugins'
import { type ClubsPropsAdminPages, decode } from '@devprotocol/clubs-core'
import BgPeople from './assets/BgPeople.jpg'
import BgCode from './assets/BgCode.png'
import SuperFluid from './assets/SuperFluid.png'

import Heading from './assets/Heading.jpg'
import { createGetPluginMeta } from './utils/createGetPluginMeta'
import PluginsWrapper from './components/PluginsWrapper.astro'
import Nav from './components/Nav.svelte'
import { allTags } from '@constants/plugins'
import BannerPresetFeaturing from './components/BannerPresetFeaturing.astro'
import ExternalToolWrapper from './components/ExternalToolWrapper.astro'

const { allInstallablePlugins, clubs } = Astro.props as ClubsPropsAdminPages & {
  allInstallablePlugins: InstallablePlugins[]
}

const getPluginMeta = createGetPluginMeta(
  decode(clubs.encodedClubsConfiguration)
)
const allPlugins = await Promise.all(allInstallablePlugins.map(getPluginMeta))

const externalTools: ExternalTool[] = [
  {
    name: 'Superfluid',
    imageSrc: SuperFluid,
    description: 'Protocol for streaming money on Ethereum.',
    url: 'https://superfluid.finance/',
  },
]
---

<div class="grid pb-24 text-dp-blue-grey-600">
  <section
    class="grid rounded-2xl px-7 py-7 xl:px-28 xl:py-14"
    style={{
      backgroundImage: `url(${Heading})`,
      backgroundRepeat: 'no-repeat',
      backgroundSize: 'cover',
      backgroundPosition: 'center center',
    }}
  >
    <p class="mx-auto mb-2.5 max-w-lg text-4xl font-bold">
      Explore plugins for your Club <br />
    </p>
    <p class="mx-auto max-w-lg text-base font-normal">
      Open plugin marketplace for all Clubs and builders. Enhance your community
      in 5 minutes instead of search 5 days.
    </p>
  </section>

  <div class="mt-10">
    <Nav client:load plugins={allPlugins} />
    <!-- New and Upcoming section -->
    {
      (
        <PluginsWrapper
          plugins={allPlugins}
          tag="New & Upcoming"
          title="New & Upcoming"
          featuring={true}
        />
      )
    }

    <BannerPresetFeaturing
      class="mt-10"
      baseColor="#8370da"
      textColor="#fff"
      image={BgPeople}
      body="What's plugin?"
      description="Publish your own products to the world!"
      link="https://clubs-help.notion.site/Marketplace-cb5407922b8b42a4a233b0329e316c0f"
    />

    <!-- Themes section -->
    {
      (
        <PluginsWrapper
          plugins={allPlugins}
          tag="Theme"
          title="Themes"
          preview={true}
        />
      )
    }

    {
      allTags
        .filter((tag) => tag !== 'New & Upcoming' && tag !== 'Theme')
        .map((tag) => (
          <PluginsWrapper plugins={allPlugins} tag={tag} title={tag} />
        ))
    }

    {(<ExternalToolWrapper tools={externalTools} />)}

    <BannerPresetFeaturing
      class="mt-10"
      baseColor="#2C18FF"
      textColor="#fff"
      image={BgCode}
      body="Join our Club for developers"
      description="Get early access & inspirations from community."
      link="https://developers.clubs.place"
    />
  </div>
</div>

<style lang="scss">
  :global(body[data-page^='marketplace']) {
    @apply bg-dp-white-300;
  }
</style>
