---
import type { InstallablePlugins } from '@constants/plugins'
import { type ClubsPropsAdminPages, decode } from '@devprotocol/clubs-core'
import HSButton from '@components/Primitives/Hashi/HSButton.vue'

import Heading from './assets/Heading.jpg'
import { createGetPluginMeta } from './utils/createGetPluginMeta'
import PluginsWrapper from './components/PluginsWrapper.astro'
import Nav from './components/Nav.svelte'
import { allTags } from '@constants/plugins'

const { allInstallablePlugins, clubs } = Astro.props as ClubsPropsAdminPages & {
  allInstallablePlugins: InstallablePlugins[]
}

const getPluginMeta = createGetPluginMeta(
  decode(clubs.encodedClubsConfiguration)
)
const allPlugins = await Promise.all(allInstallablePlugins.map(getPluginMeta))
---

<div class="grid pb-12 text-dp-blue-grey-600">
  <section
    class="mb-20 grid rounded-2xl py-7 px-7 xl:py-14 xl:px-28"
    style={{
      backgroundImage: `url(${Heading})`,
      backgroundRepeat: 'no-repeat',
      backgroundSize: 'cover',
      backgroundPosition: 'center center',
    }}
  >
    <p class="mx-auto mb-2.5 max-w-lg text-4xl font-bold">
      Explore plugins for your Club <br />
    </p>
    <p class="mx-auto max-w-lg text-base font-normal">
      Open plugin marketplace for all Clubs and builders. Enhance your community
      in 5 minutes instead of search 5 days.
    </p>
  </section>

  <div>
    <Nav client:load plugins={allPlugins} />
    <!-- New and Upcoming section -->
    {
      (
        <PluginsWrapper
          plugins={allPlugins}
          tag="New & Upcoming"
          title="New & Upcoming"
          featuring={true}
        />
      )
    }

    <!-- Themes section -->
    {
      (
        <PluginsWrapper
          plugins={allPlugins}
          tag="Theme"
          title="Themes"
          preview={true}
        />
      )
    }

    {
      allTags
        .filter((tag) => tag !== 'New & Upcoming' && tag !== 'Theme')
        .map((tag) => (
          <PluginsWrapper plugins={allPlugins} tag={tag} title={tag} />
        ))
    }
  </div>

  <!-- Join developer community -->
  <aside
    class="mt-20 grid rounded-2xl py-7 px-7 xl:py-14 xl:px-28"
    style={{
      background: 'linear-gradient(91.9deg, #5B8BF5 0.33%, #FFC751 101.64%)',
    }}
  >
    <div class="mb-4 font-title text-3xl font-bold text-black lg:text-4xl">
      Join our developer community
    </div>
    <div class="mb-2.5 font-title text-xl font-bold text-black lg:text-2xl">
      Publish your original plugins!
    </div>
    <HSButton
      type="filled"
      class="mb-2.5 w-fit rounded font-body text-2xl font-bold text-white"
      link="https://airtable.com/shrnJDMkjUW0MWWPh"
    >
      Join
    </HSButton>
    <HSButton
      type="outlined"
      class="w-fit rounded font-body text-2xl font-bold text-white"
      link="https://docs.devprotocol.xyz/clubs/"
    >
      Developer Documentation
    </HSButton>
  </aside>
</div>

<style lang="scss">
  :global(body[data-page^='marketplace']) {
    @apply bg-dp-white-300;
  }
</style>
