---
import CLBTier from '@components/Primitives/CLBTier.vue'
import MessageForm from './components/MessageForm.vue'
import { Membership } from '@plugins/memberships'
import { GatedMessage } from './types'

const { propertyAddress, form, requiredMemberships } = Astro.props as {
  form: GatedMessage
  requiredMemberships: Membership[]
  propertyAddress: string
}
---

<article class="container mx-auto max-w-6xl px-4">
  <section class="mb-12">
    <h1 class="mb-5 font-title text-2xl font-semibold">{form.title}</h1>
    <p>{form.description}</p>
  </section>

  <section>
    <h1 class="mb-4 font-title text-xl font-semibold">
      Required membership(s)
    </h1>
    <div class="mb-5 flex flex-row flex-wrap gap-8">
      {
        requiredMemberships.map((membership: any, i: any) => (
          <div class="h-[240px] max-h-[240px] min-h-[240px] w-[25%] capitalize">
            <CLBTier
              key={i}
              title={membership.id}
              subtitle={`${membership.amount} ${membership.currency}`}
              media={`${membership.imageSrc}`}
            />
          </div>
        ))
      }
    </div>
  </section>

  <section>
    <MessageForm
      client:only="vue"
      propertyAddress={propertyAddress}
      formId={form.id}
    />
  </section>
</article>
