---
import CLBTier from '@components/Primitives/CLBTier.vue'
import MessageForm from './components/MessageForm.vue'
import type { Membership } from '@plugins/memberships'
import type { GatedMessage } from './types'

const {
  propertyAddress,
  form,
  requiredMemberships,
  pluginIndex,
  membershipPluginIndex,
} = Astro.props as {
  form: GatedMessage
  requiredMemberships: Membership[]
  propertyAddress: string
  pluginIndex?: number
  membershipPluginIndex?: number
}
---

<article class="container mx-auto grid max-w-6xl gap-16 px-4">
  <section class="mb-12">
    <h1 class="mb-5 font-title text-2xl font-semibold">{form.title}</h1>
    <p>{form.description}</p>
  </section>

  <section>
    <h1 class="mb-4 font-title text-xl font-semibold">
      Required membership(s)
    </h1>
    <div class="mb-5 flex flex-row flex-wrap gap-8">
      {
        requiredMemberships.map((membership: any, i: any) => (
          <div class="h-[240px] max-h-[240px] min-h-[240px] w-[25%] capitalize">
            <CLBTier
              key={i}
              title={membership.id}
              subtitle={`${membership.price} ${membership.currency}`}
              media={`${membership.imageSrc}`}
            />
          </div>
        ))
      }
    </div>
  </section>

  <section>
    <MessageForm
      client:load
      propertyAddress={propertyAddress}
      formId={form.id}
      pluginIndex={pluginIndex}
      membershipPluginIndex={membershipPluginIndex}
      requiredMemberships={requiredMemberships}
    />
  </section>
</article>
