---
import AdminMembershipsAdditionForm from '@components/AdminMembershipsForm/AdminMembershipsAdditionForm.svelte'
import { config as _config } from '@fixtures/config'
import { adminFactory } from '@devprotocol/clubs-core'
import type { Membership } from '@plugins/memberships'
import memberships from '@plugins/memberships'
import SetupLayout from '@layouts/Setup.astro'
import PageNotFound from '@pages/404.astro'

const { site, preset } = Astro.params

const { getStaticPaths, getCurrentConfig } = adminFactory({
  config: async () => await _config(site),
  plugins: {
    memberships,
  },
})

const config = await getCurrentConfig()
const path = (await getStaticPaths()).find(
  ({ params }) => params.page === `memberships`
)

const { props } = path || { props: undefined }

const presets = (props?.presets ?? []) as Membership[]

const membership = presets.find(
  (_membership: Membership) => _membership.id === preset
)

if (!membership) {
  throw new Error(`Membership not found: ${preset}`)
}

const baseUrl = ((url) => `${url.protocol}//${url.host}/${site}/setup`)(
  new URL(Astro.request.url)
)

const siteBaseUrl = ((url) =>
  `${url.protocol}//${url.host}/${site}/setup/memberships`)(
  new URL(Astro.request.url)
)
---

{
  path && props ? (
    <SetupLayout
      {config}
      {...props}
      setupStep="MEMBERSHIPS"
      title={`Setup Clubs | Memberships | ${preset}`}
    >
      <section class="grid gap-16">
        <div class="flex items-center gap-4">
          <a
            href={`${baseUrl}/memberships`}
            class="hs-button is-outlined w-fit text-white"
          >
            <svg
              xmlns="http://www.w3.org/2000/svg"
              fill="none"
              viewBox="0 0 24 24"
              stroke-width="1.5"
              stroke="currentColor"
              class="h-6 w-6"
            >
              <path
                stroke-linecap="round"
                stroke-linejoin="round"
                d="M15.75 19.5L8.25 12l7.5-7.5"
              />
            </svg>
          </a>

          <h1 class="font-title text-lg font-bold">Memberships</h1>
        </div>

        <AdminMembershipsAdditionForm
          client:load
          clubName={props.name as string}
          currentPluginIndex={props.clubs.currentPluginIndex}
          membership={membership}
          existingMemberships={props.memberships as Membership[]}
          rpcUrl={props.rpcUrl as string}
          base={baseUrl}
        />
      </section>
      <input id="siteName" hidden value={site} disabled />
    </SetupLayout>
  ) : (
    <PageNotFound
      redirectionCtaText={`Take me back to previous page `}
      redirectionCtaUrl={siteBaseUrl}
    />
  )
}

<script>
  import { ClubsEvents } from '@devprotocol/clubs-core'

  const site =
    window.location.pathname.split('/')[1] ||
    (document.getElementById('siteName') as HTMLInputElement)?.value

  document.body.addEventListener(ClubsEvents.FinishConfiguration, () => {
    console.log('Save button clicked and updated the data remotely!!')
    window.location.href = new URL(
      `${site}/setup/memberships?created`,
      `${location.protocol}//${location.host}`
    ).toString()
  })
</script>
