---
import HSButton from '@components/Primitives/Hashi/HSButton.vue'
import CLBButton from 'node_modules/@devprotocol/clubs-core/src/ui/vue/CLBButton.vue'
import ClubsColor from '@assets/clubs--color.svg'
import Banner from '@assets/banner_clubs.png'
import ArrowRight from '@components/Icons/arrow-right.astro'
import Footer from '@components/Footer/Footer.astro'

import '@devprotocol/clubs-core/styles'

import HeroMedia from '@assets/Hero.png'
import StarterKits from '@assets/starter-kits.png'

import OGP from '@assets/OGP.png'

import A1 from '@assets/Article1.png'
import A2 from '@assets/Article2.png'
import A3 from '@assets/Article3.png'

import CSM1 from '@assets/CaseStudyMedia1.png'
import CSM2 from '@assets/CaseStudyMedia2.png'
import CSM3 from '@assets/CaseStudyMedia3.png'

import image from '@assets/maxim-berg-unsplash.jpg'
import MaticLogo from '@assets/matic_logo.png'
import VercelAnalytics from '@components/Analytics/VercelAnalytics.astro'

const ogp = {
  title: `Free and no-code DAO starter-kit | Clubs`,
  desc: `Clubs from Dev Protocol brings communities to Web3 in 1min with plug-&-play DAOs. Creators deserve more stable support & more community engagement tools. Let's build together!`,
}
---

<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width" />
    <title>{ogp.title}</title>
    <link rel="icon" type="image/svg" href="/favicon.svg" />
    <link rel="preconnect" href="https://fonts.googleapis.com" />
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin /><link
      href="https://fonts.googleapis.com/css2?family=Poppins:wght@700&display=swap"
      rel="stylesheet"
    />
    <meta name="description" content={ogp.desc} />
    <meta property="og:title" content={ogp.title} />
    <meta property="og:type" content="website" />
    <meta property="og:url" content="https://clubs.place" />
    <meta property="og:image" content={OGP} />
    <meta property="og:description" content={ogp.desc} />
    <meta property="og:site_name" content="Clubs" />
    <meta name="twitter:site" content="@devprtcl" />
    <meta name="twitter:creator" content="@devprtcl" />
    <meta name="twitter:card" content="summary_large_image" />
    <meta name="twitter:title" content={ogp.title} />
    <meta name="twitter:description" content={ogp.desc} />
    <meta name="twitter:image" content={OGP} />
  </head>

  <body
    class="bg-dp-white-200 min-h-screen font-body text-dp-white-ink"
  >
    <header class="bg-dp-black-600 text-dp-black-ink relative flex items-center justify-between py-4 px-6">
      <a href="/">
        <h1
          class="flex items-center gap-2.5 font-['Poppins'] text-xl font-bold"
        >
          <img src={ClubsColor} class="h-auto w-[1.5em]" />Clubs
        </h1>
      </a>
      <HSButton slot="right" type="filled white" link="/signin">
        Sign-in
      </HSButton>
    </header>

    <main>
      <section class="clb-hero py-16 lg:py-28 2xl:py-40">
        <img
          src={HeroMedia}
          aria-hidden="true"
          alt="Hero media."
          class="clb-hero__media"
        />
        <div class="clb-hero__section">
          <h1
            class="clb-hero__tagline mb-6 text-3xl font-black leading-[1.5] lg:text-7xl 2xl:text-8xl"
          >
            Bring your <br class="hidden lg:inline" />community to <span
              class="bg-[url('/WhitePurpleAbstract.png')] bg-clip-text bg-center text-3xl font-bold text-white/30 lg:text-7xl 2xl:text-8xl"
              >web3</span
            ><br /> in one minute.
          </h1>
          <CLBButton type="filled large" link="/domain">
            Get started for free
          </CLBButton>
        </div>
      </section>
      <section class="content-wrap">
        <section id="sales-pitch">
          <div
            id="features"
            class="grid grid-cols-2 gap-3 text-xl text-white md:grid-cols-3 lg:grid-cols-4"
          >
            <div class="sales-pitch-card bg-[rgb(45,39,220)]">
              <h3 class="text-center font-bold">
                Build an online community space
              </h3>
            </div>
            <div class="sales-pitch-card bg-[rgb(0,172,148)]">
              <h3 class="text-center font-bold">Tokenize my idea/project</h3>
            </div>
            <div class="sales-pitch-card bg-[rgb(22,20,129)]">
              <h3 class="text-center font-bold">Gain access to DeFi funding</h3>
            </div>
            <div class="sales-pitch-card bg-[rgb(201,53,116)]">
              <h3 class="text-center font-bold">
                Provide perks & rewards structure
              </h3>
            </div>
          </div>
          <div class="grid py-16 md:grid-cols-[3fr_2fr]">
            <div>
              <h2 class="text-4xl font-bold">
                My no-code <span
                  class="bg-[url('/LightBlueGradient.png')] bg-cover bg-clip-text bg-center text-4xl font-bold text-[rgba(0,208,253,0.4)]"
                  >DAO</span
                > starter-kit
              </h2>
              <p class="my-6 text-2xl">
                Giving creators and communities <br /><span
                  class="bg-[url('/LightBlueGradient.png')] bg-cover bg-clip-text bg-center text-2xl font-bold text-[rgba(0,82,255,0.4)]"
                  >web3 super powers</span
                >.
              </p>
              <CLBButton type="filled large" link="/domain">
                Get started for free
              </CLBButton>
            </div>
            <img
              class=""
              aria-hidden="true"
              src={StarterKits}
              alt="Starter kits."
            />
          </div>
        </section>
      </section>
      <div id="use-cases" class="bg-black/10 py-[3rem]">
        <section class="content-wrap">
          <h2 class="mb-3 text-center text-3xl font-bold">Clubs use cases</h2>
          <p class="text-center">
            Explore how creators access sustainable funding & support with
            Clubs.
          </p>
          <div
            class="mt-4 grid grid-cols-1 gap-3 md:grid-cols-2 lg:grid-cols-3"
          >
            <a
              href="https://medium.com/devprtcl/the-future-of-fundraising-daos-with-clubs-8433029af141"
            >
              <div class="use-case hover:bg-black/20">
                <img
                  src={A1}
                  alt="Article 1"
                  class="use-case__media aspect-[16/10]"
                />
                <p class="mb-1 font-bold">
                  The Future of fundraising DAOs, with Clubs
                </p>
                <p class="underline">Read more...</p>
              </div>
            </a>
            <a
              href="https://medium.com/devprtcl/clubs-starter-grant-audiovisual-artist-taito-otani-joins-9cf3fbed41a4"
            >
              <div class="use-case hover:bg-black/20">
                <img
                  src={A2}
                  alt="Article 1"
                  class="use-case__media aspect-[16/10]"
                />
                <p class="mb-1 font-bold">
                  Clubs Starter Grant, Audiovisual Artist “Taito Otani” Joins!
                </p>
                <p class="underline">Read more...</p>
              </div>
            </a>
            <a
              href="https://medium.com/devprtcl/hikari-enterprise-ltd-joins-clubs-partner-to-build-garbage-collector-dao-a4f2538765c0"
            >
              <div class="use-case hover:bg-black/20">
                <img
                  src={A3}
                  alt="Article 1"
                  class="use-case__media aspect-[16/10]"
                />
                <p class="mb-1 font-bold">
                  Collaboration to confront social issues in DAOs.
                </p>
                <p class="underline">Read more...</p>
              </div>
            </a>
          </div>
        </section>
      </div>
      <div id="how-to-start" class="py-[3rem]">
        <section class="content-wrap">
          <h2 class="mb-3 text-center text-3xl font-bold">
            How to start Clubs?
          </h2>
          <p class="text-center">
            Wonder how can Clubs help you? Have a look at these sample case
            studies today.
          </p>
          <div class="dp-video-embed mx-auto my-24 grid place-items-center">
            <iframe
              src="https://www.youtube.com/embed/WgDAezl1RrQ"
              title="YouTube video player"
              allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture; web-share"
              allowfullscreen
            >
            </iframe>
          </div>
          <div
            class="mt-4 grid grid-cols-1 gap-3 md:grid-cols-2 lg:grid-cols-3"
          >
            <a
              href="https://drive.google.com/file/d/1ONyN66UniFTR-fqjWzySfPuXAMd17jam/view?usp=share_link"
              target="_blank"
              rel="noopener"
            >
              <div
                class="use-case bg-gradient-to-r from-[#9796F0] to-[#FBC7D4] text-white hover:from-[#7574cd] hover:to-[#d097a5]"
              >
                <img
                  src={CSM1}
                  alt="Article 1"
                  class="use-case__media aspect-square"
                />
                <p class="mb-1 flex items-center gap-4 font-bold">
                  <span class="rounded-full border p-3">
                    <ArrowRight h="12" w="12" />
                  </span>
                  <span>Case 1: Bakery owner</span>
                </p>
              </div>
            </a>
            <a
              href="https://drive.google.com/file/d/1CfyuMjIQb3638iIPod7ApeWNXwgBtDaa/view?usp=share_link"
            >
              <div
                class="use-case bg-gradient-to-r from-[#FFAFBD] to-[#FFC3A0] text-white hover:from-[#d77d8d] hover:to-[#de9d77]"
              >
                <img
                  src={CSM2}
                  alt="Article 1"
                  class="use-case__media aspect-square"
                />
                <p class="mb-1 flex items-center gap-4 font-bold">
                  <span class="rounded-full border p-3">
                    <ArrowRight h="12" w="12" />
                  </span>
                  <span>Case 2: Yoga teacher</span>
                </p>
              </div>
            </a>
            <a
              href="https://drive.google.com/file/d/12kl50AYfsJCScvG48fHX8_ZymduulfeC/view?usp=share_link"
            >
              <div
                class="use-case bg-gradient-to-r from-[#4776E6] to-[#8E54E9] text-white hover:from-[#2b57c0] hover:to-[#6c34c4]"
              >
                <img
                  src={CSM3}
                  alt="Article 1"
                  class="use-case__media aspect-square"
                />
                <p class="mb-1 flex items-center gap-4 font-bold">
                  <span class="rounded-full border p-3">
                    <ArrowRight h="12" w="12" />
                  </span>
                  <span>Case 3: Crowdfunding</span>
                </p>
              </div>
            </a>
          </div>
        </section>
      </div>

      <section class="grid lg:grid-cols-2">
        <div class="p-6">
          <p
            class="flex items-center justify-center bg-cover px-4 py-12 text-black lg:py-24"
            style={`background-image: url(${image});`}
          >
            <span
              class="flex flex-col items-end justify-center gap-4 lg:flex-row"
            >
              <span
                class="text-right font-title text-2xl font-bold text-black xl:text-3xl"
              >
                The first $MATIC<br />
                is covered
              </span>
              <img src={MaticLogo} class="h-auto w-24" />
            </span>
          </p>
        </div>
        <div
          class="grid content-center items-center justify-items-start gap-6 p-6 lg:gap-12 lg:p-24"
        >
          <h3 class="text-2xl font-bold lg:text-3xl">
            Apply today and get onboard support!
          </h3>
          <CLBButton
            link="https://clubs-starter-grant.webflow.io/"
            type="filled plox"
          >
            Apply
          </CLBButton>
        </div>
      </section>

      <div
        id="all-set"
        class="bg-native-blue-400 bg-cover bg-center py-[3rem] text-white"
        style={`background-image: url(${Banner})`}
      >
        <section class="content-wrap flex flex-col justify-center">
          <h2 class="mb-3 text-center text-3xl font-bold">You're all set!</h2>
          <p class="mb-3 text-center">
            It's easy, free, and all in one place. Let's build together in web3!
          </p>
          <div id="all-set__actions">
            <CLBButton link="/domain" type="filled large">
              Get started!
            </CLBButton>
          </div>
        </section>
      </div>
    </main>
  </body>

  <Footer />
  <VercelAnalytics />
</html>

<style lang="scss">
  @use 'node_modules/@devprotocol/hashi';
  @use 'sass:meta';

  @mixin responsive-img($position: null, $z-index: null) {
    width: 100%;
    height: 100%;
    @if meta.type-of($position) != null {
      position: $position;
    }
    object-fit: cover;
    object-position: center;
    @if meta.type-of($z-index) != null {
      z-index: $z-index;
    }
    user-select: none;
  }

  .content-wrap {
    width: calc(100% - 50px);
    max-width: 1077px;
    margin: 0 auto;
  }

  .clb-hero {
    width: 100%;
    height: 100%;
    display: flex;
    position: relative;
    justify-content: center;
    align-items: center;

    .clb-hero__media {
      width: 100%;
      height: 100%;
      position: absolute;
      object-fit: cover;
      object-position: center;
      user-select: none;
      cursor: default;
    }

    .clb-hero__section {
      width: calc(100% - 50px);
      max-width: 1077px;
      margin: 0 auto;
      padding: 3rem 0;
      position: relative;

      .clb-hero__tagline {
        color: #fff;
        text-shadow: 0 0.3rem 0.5rem rgba(0, 0, 0, 0.2);
      }
    }
  }

  #sales-pitch {
    padding: 3rem 0;
  }

  .sales-pitch-card {
    width: 100%;
    height: 200px;
    display: grid;
    place-content: center;
    position: relative;
    border-radius: 0.5rem;
    overflow: hidden;
    justify-content: center;
    align-items: center;
    padding: 1rem;

    .sales-pitch-card__media {
      width: 100%;
      height: 100%;
      position: absolute;
      object-fit: cover;
      object-position: center;
      user-select: none;
    }
  }

  #features {
    width: 100%;
    height: 100%;
    margin: 0 auto 3rem;
  }

  .use-case {
    width: 100%;
    transition: all var(--hs-transition-time) ease;
    padding: 1rem;
    border-radius: 0.5rem;

    .use-case__media {
      width: 100%;
      object-fit: cover;
      object-position: center;
      border-radius: 0.5rem;
      margin-bottom: 0.7rem;
    }
  }

  .dp-video-embed {
    position: relative;
    max-width: 840px;
    aspect-ratio: 16 / 9;
  }

  .dp-video-embed iframe {
    width: 100%;
    height: 100%;
    position: absolute;
    top: 0;
    left: 0;
  }

  #all-set {
    &__actions {
      display: flex;
      flex-flow: row nowrap;
      justify-content: center;

      & > * {
        max-width: max-content;
      }
    }
  }
</style>

<style lang="scss" is:global>
  @use 'node_modules/@devprotocol/hashi';
  @use 'node_modules/@devprotocol/hashi/hs-button';

  html,
  body {
    scroll-behavior: smooth;

    @include hashi.dark-mode {
      color: #fff;
    }
  }

  @include hs-button.extend('large') {
    --hs-button-padding: 0.7rem 1rem;
  }

  @include hs-button.extend('outlined.is-white') {
    @include hs-button.color(
      (
        ink: 'var(--hs-theme-dp-white-200)',
        border: 'var(--hs-theme-dp-white-200)',
      )
    );

    &:hover,
    &:focus {
      @include hs-button.color(
        (
          fill: 'var(--hs-theme-dp-white-200)',
          ink: 'var(--hs-theme-dp-white-ink)',
          border: 'var(--hs-theme-dp-white-200)',
        )
      );
    }

    &:active {
      @include hs-button.color(
        (
          fill: 'var(--hs-theme-dp-white-400)',
          ink: 'var(--hs-theme-dp-white-ink)',
          border: 'var(--hs-theme-dp-white-400)',
        )
      );
    }
  }

  @include hs-button.extend('filled.is-white') {
    @include hs-button.color(
      (
        fill: 'var(--hs-theme-dp-white-200)',
        ink: 'var(--hs-theme-dp-white-ink)',
        border: 'var(--hs-theme-dp-white-200)',
      )
    );

    &:hover,
    &:focus {
      @include hs-button.color(
        (
          fill: 'var(--hs-theme-dp-white-200)',
          ink: 'var(--hs-theme-dp-white-ink)',
          border: 'var(--hs-theme-dp-white-200)',
        )
      );
    }

    &:active {
      @include hs-button.color(
        (
          fill: 'var(--hs-theme-dp-white-400)',
          ink: 'var(--hs-theme-dp-white-ink)',
          border: 'var(--hs-theme-dp-white-400)',
        )
      );
    }
  }

  .toggleable-dark-mode-text {
    fill: #000;

    @include hashi.dark-mode {
      fill: #fff;
    }
  }
</style>
