---
import {
  whenDefined,
  whenDefinedAll,
  whenNotError,
  isNotError,
  type UndefinedOr,
} from '@devprotocol/util-ts'
import { getPassportItemForPayload } from '@fixtures/api/passportItem'
import { getProfile } from '@fixtures/api/profile'
import { hashToItem } from '@fixtures/router/passportItem'
import { Debug } from 'astro:components'
import '@devprotocol/clubs-core/styles'
import { isDark } from '@fixtures/color'
import { ClubsLogo } from '@devprotocol/clubs-core/layouts'
import Description from './components/Description.vue'
import type { Clip } from '@pages/api/profile'
import { clientsSTokens } from '@devprotocol/dev-kit'
import { JsonRpcProvider } from 'ethers'

import playIconInnerHTML from './assets/play-icon.svg?raw'

const { eoa, passportId, item: itemPath } = Astro.params

const profile = await whenDefined(eoa, (_eoa) => getProfile({ id: _eoa }))
const skin = whenDefinedAll([passportId, profile], ([id, prof]) =>
  prof.skins?.find((skin) => (skin as any).id === id),
)
const itemFromPath = whenDefined(itemPath, hashToItem)
const item = whenDefinedAll([skin, itemFromPath], ([_skin, _item]) =>
  whenNotError(_item, ({ type, id }) =>
    _skin[type] instanceof Array
      ? (_skin[type].find((x: Clip) => x.sTokenId === id) as UndefinedOr<Clip>)
      : _skin[type],
  ),
)
const itemPayload = whenDefined(item, (_item) =>
  whenNotError(_item, (__item) =>
    typeof __item === 'string' ? __item : __item.payload,
  ),
)
const [passportItemData, userProfile] = await Promise.all([
  whenDefined(itemPayload, (_payload) =>
    whenNotError(_payload, (__payload) =>
      getPassportItemForPayload({ sTokenPayload: __payload }),
    ),
  ),
  whenDefined(eoa, (id) => getProfile({ id })),
])

const data = {
  user: userProfile,
  item: isNotError(item) ? item : undefined,
  passportItem: isNotError(passportItemData) ? passportItemData : undefined,
  isFrameDark:
    isNotError(item) && typeof item === 'object'
      ? isDark(item.frameColorHex)
      : false,
}

const provider = new JsonRpcProvider(
  `https://polygon-mainnet.g.alchemy.com/v2/${import.meta.env.PUBLIC_ALCHEMY_KEY ?? ''}`,
)
// @ts-ignore
const [l1, l2] = await clientsSTokens(provider)
const contract = l1 ?? l2
const tokenURI =
  item && !(item instanceof Error)
    ? await contract?.tokenURI(Number(item.sTokenId))
    : undefined
---

<html lang="en" hashi-theme="light">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width" />
  </head>

  <body
    style={typeof data.item === 'object' && data.item.frameColorHex
      ? `background-color: ${data.item.frameColorHex}`
      : undefined}
    class:list={{
      'text-white': data.isFrameDark,
      'text-black': !data.isFrameDark,
    }}
  >
    <main class="h-screen w-screen p-6 grid grid-cols-2 gap-6">
      <span class="relative">
        {
          data?.passportItem?.itemAssetType === 'short-video' ||
          data?.passportItem?.itemAssetType === 'short-video-link' ? (
            <video
              loop
              muted
              autoplay
              controlslist="nodownload"
              id="og-video-element"
              poster={tokenURI ? tokenURI.image : ''}
              src={data.passportItem.itemAssetValue || ''}
              class="w-full h-full object-cover rounded-xl"
            />
          ) : (
            <img
              id="og-image-element"
              src={data.passportItem?.itemAssetValue}
              class="w-full h-full object-cover rounded-xl"
            />
          )
        }
        {
          data?.passportItem?.itemAssetType === 'short-video' ||
          data?.passportItem?.itemAssetType === 'short-video-link' ||
          data?.passportItem?.itemAssetType === 'image-playable' ||
          data?.passportItem?.itemAssetType === 'image-playable-link' ? (
            <div class="absolute inset-0 m-auto size-1/2 text-white flex items-center justify-center opacity-60">
              <Fragment
                set:html={playIconInnerHTML}
                className="w-full h-full"
                name="video-play"
              />
            </div>
          ) : (
            <span />
          )
        }
      </span>

      <span class="grid grid-cols-1 grid-rows-[1fr_auto]">
        {
          typeof data.item === 'object' ? (
            <Description client:load text={data.item.description} />
          ) : (
            <span />
          )
        }
        <div>
          <p>Owned by</p>
          <p class="flex items-center gap-2">
            <span class="font-bold text-2xl grow">{data.user?.username}</span>
            <img
              src={data.user?.avatar}
              class="rounded-full h-[43px] aspect-square"
            />

            <ClubsLogo />
          </p>
        </div>
      </span>
    </main>
  </body>

  <div class="mt-24">
    <Debug
      data={{
        'Astro.params': Astro.params,
        profile,
        skin,
        itemFromPath,
        item,
        itemPayload,
        passportItemData,
        tokenURI,
      }}
    />
  </div>
</html>

<script>
  document.getElementById('og-video-element')?.addEventListener(
    'loadedmetadata',
    function () {
      ;(this as HTMLVideoElement).currentTime = 5 // Start the video from 5th second.
    },
    false,
  )
</script>
