---
import QuestCard from '@components/Quests/QuestCard/QuestCard.vue'
import quests from './quests.json'

const filteredQuests = quests.filter((quest: any) => quest.listed) as {
  id: string
  title: string
  description: string
  badgeImageSrc: string
}[]
---

<section class="mx-4 bg-cover bg-center">
  <h2 class="text-3xl">Quests</h2>
  <p>Complete quests and collect additional badges.</p>
  <div
    class="grid items-center justify-center gap-8 p-4 text-white md:grid-cols-2 md:text-left lg:px-0"
  >
    {
      filteredQuests.length > 0 ? (
        filteredQuests.map((quest) => (
          <div class="grid h-full justify-items-start">
            <a rel="prefetch" href={`/quests/${quest.id}`}>
              <div class="max-w-xl">
                <QuestCard
                  title={quest.title}
                  questId={quest.id}
                  description={quest.description}
                  badgeImageSrc={quest.badgeImageSrc}
                />
              </div>
            </a>
          </div>
        ))
      ) : (
        <div>no quests data</div>
      )
    }
  </div>
</section>
