---
import { ProseTextInherit } from '@devprotocol/clubs-core'
import { marked } from 'marked'

interface Props {
  body?: string
  class?: string
  size?: 'sm' | 'base' | 'lg' | 'xl' | '2xl'
}

const { body, class: className, size } = Astro.props

const renderer = {
  link(href: string, _: string | null | undefined, text: string) {
    const url = new URL(href)
    const youtube = url.host === 'youtube.com' || url.host === 'www.youtube.com'
    const v = url.searchParams.get('v')

    return youtube
      ? `<iframe class="youtube aspect-video mx-auto w-full max-w-2xl rounded" src="https://www.youtube.com/embed/${v}" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture; web-share" allowfullscreen></iframe>`
      : `<a href="${href}">${text}</a>`
  },
}

marked.use({ renderer })

const content = body ? marked.parse(body) : undefined

const classList = [
  className,
  'markdown',
  ...ProseTextInherit,
  'prose-a:inline-block prose-a:rounded prose-a:p-1 prose-a:underline prose-a:transition hover:prose-a:bg-white/20',
  { 'prose-sm': size === 'sm' },
  { 'prose-base': size === 'base' },
  { 'prose-lg': size === 'lg' },
  { 'prose-xl': size === 'xl' },
  { 'prose-2xl': size === '2xl' },
]
---

{
  content ? (
    <div class:list={classList} set:html={content}>
      <slot />
    </div>
  ) : (
    <div class:list={classList}>
      <slot />
    </div>
  )
}

<style lang="scss" scoped>
  :global(.markdown iframe) {
    @apply max-w-full;
  }
</style>
