---
import CLBWrapper from '@components/Primitives/CLBWrapper.astro'
import Sidebar from '@components/Sidebar/Sidebar.vue'
import Membership from '@components/Membership/Membership.vue'
import Account from '@components/Account/Account.vue'

const { propertyAddress, name, rpcUrl } = Astro.props
---

<CLBWrapper>
  <Sidebar
    client:load
    propertyAddress={propertyAddress}
    tenantName={name}
    rpcUrl={rpcUrl}
  />
  <div>
    <div class="mb-8">
      <Membership client:only="vue" propertyAddress={propertyAddress} />
    </div>
    <!-- <div class='mb-8'>
        <Badges />
      </div> -->
    <div class="mb-8">
      <Account client:only="vue" propertyAddress={propertyAddress} />
    </div>
  </div>
</CLBWrapper>
