---
import MembershipOption from '@components/AdminMembershipsForm/MembershipOption.svelte'
import type { Membership } from '@plugins/memberships'

const { memberships, name } = Astro.props as {
  memberships: Membership[]
  name: string
}
---

<ul
  class="-mx-6 grid grid-cols-[repeat(auto-fit,_minmax(120px,_1fr))] justify-center gap-4 p-6 md:grid-cols-[repeat(auto-fit,_minmax(200px,_1fr))] xl:gap-9"
>
  {
    memberships.map((mem) => (
      <li class="only:mx-auto only:max-w-[360px]">
        <MembershipOption
          client:load
          clubName={name}
          id={mem.id}
          name={mem.name}
          price={String(mem.price)}
          currency={mem.currency}
          description={mem.description}
          imagePath={mem.imageSrc}
          action={`/join/${mem.id}`}
          actionLabel={'Purchase'}
        >
          <img
            slot="image"
            src={mem.imageSrc}
            class="h-auto w-full"
            alt={mem.name}
          />
        </MembershipOption>
      </li>
    ))
  }
</ul>
