---
import type { ExtendedProducts } from '@components/list/cards'
import Cards from '@components/list/cards'
import Hero from '@components/Hero/hero'
import Hero2 from '@components/Hero/hero2'
import type { Currency } from '@crossmint/client-sdk-base'

const {
  cm,
  paymentCurrency,
  products,
  title,
  hero,
} = Astro.props as {
  cm: {
    projectId: string,
    collectionId: string,
    environment?: string,
  }
  paymentCurrency?:Currency,
  products: ExtendedProducts
  title?: string
  hero?: {
    coverImgSrc: string
    title: string
    description: string
    avatarImgSrc: string
    projectName: string
  }
}
---

<div class="container mx-auto my-16 grid gap-16 px-4">
  {title && <h1 class="font-title text-4xl font-bold">{title}</h1>}
  {
    hero && (
      <>
        <Hero projectName={hero.projectName} coverImgSrc={hero.coverImgSrc} />
        <Hero2
          title={hero.title}
          description={hero.description}
          projectName={hero.projectName}
          avatarImgSrc={hero.avatarImgSrc}
        />
      </>
    )
  }

  <Cards client:load cm={cm} paymentCurrency={paymentCurrency} products={[...products]} />

</div>

