---
import JoinClubLegacy from '@components/Join/JoinClubLegacy.svelte'

const { tiers, propertyAddress, name, rpcUrl, preferedCurrency } = Astro.props
---

<div class="p-4">
  <JoinClubLegacy
    client:load
    propertyAddress={propertyAddress}
    tiers={tiers}
    tenantName={name}
    preferedCurrency={preferedCurrency}
    rpcUrl={rpcUrl}
  />
</div>
