---
import limitedNoOfItemsImg from './assets/limited-number-of-items.svg'
import timeLimitedCollectionImg from './assets/time-limited-collection.svg'
import slotCollectionImg from './assets/slot-limited-collection.svg'
import CollectionCard from '@components/Collections/CollectionCard.svelte'
import type { Collection } from '@plugins/collections'

const { collections } = Astro.props as {
  collections: Collection[]
}

const baseRedirectionUrl = '/admin/collections/new'
---

<div>
  <h1 class="mb-16 font-title text-2xl font-bold">Your Clubs Store</h1>
  <h2 class="mb-16 text-3xl">Create a new collection</h2>
  <div class="mb-16 text-xl text-white">
    Create a collection, register some digital items, and your web3 store go
    live in minutes.<br />
  </div>

  <div class="grid items-stretch gap-16 p-2.5 lg:grid-cols-2">
    <a
      href={baseRedirectionUrl}
      class="flex items-center justify-center gap-4 rounded-[5px] bg-white p-2.5 lg:flex-col"
    >
      <img src={limitedNoOfItemsImg.src} class="w-full max-w-[212px]" />
      <p class="text-black lg:text-lg">Limited Quantity Items</p>
    </a>
    <a
      href={`${baseRedirectionUrl}/time-limited-collection`}
      class="flex items-center justify-center gap-4 rounded-[5px] bg-white p-2.5 lg:flex-col"
    >
      <img src={timeLimitedCollectionImg.src} class="w-full max-w-[212px]" />
      <p class="text-black lg:text-lg">Time-limited Collection</p>
    </a>
    <a
      href={`${baseRedirectionUrl}/slot-limited-collection`}
      class="flex items-center justify-center gap-4 rounded-[5px] bg-white p-2.5 lg:flex-col"
    >
      <img src={slotCollectionImg.src} class="w-full max-w-[212px]" />
      <p class="text-black lg:text-lg">Slot-limited Collection</p>
    </a>
  </div>
  {
    collections.length > 0 ? (
      <div class="mt-16 flex flex-col">
        <h2 class="mb-16 text-3xl">Existing collections</h2>
        <CollectionCard collections={collections} client:only="svelte" />
      </div>
    ) : null
  }
</div>
