---
import SetupDesign from '@components/SetupDesign/SetupDesign.svelte'
import { config as _config } from '@fixtures/config'
import {
  type ClubsConfiguration,
  adminFactory,
  encode,
} from '@devprotocol/clubs-core'
import defaultTheme from '@plugins/default-theme'
import SetupLayout from '@layouts/Setup.astro'
import NextButton from '@components/Setup/NextButton.astro'
import PageNotFound from '@pages/404.astro'
import type { colorPresets as ColorPresets } from '@plugins/default-theme'

const { site } = Astro.params

const { getStaticPaths, getCurrentConfig } = adminFactory({
  config: async () => await _config(site),
  plugins: {
    defaultTheme,
  },
})

const config = await getCurrentConfig()
const path = (await getStaticPaths()).find(
  ({ params }) => params.page === 'theme'
)

const siteBaseUrl = ((url) =>
  `${url.protocol}//${url.host}/${site}/setup/basic`)(
  new URL(Astro.request.url)
)
---

{
  path ? (
    <SetupLayout
      {config}
      {...path.props}
      setupStep="DESIGN"
      title="Setup Clubs | Design"
    >
      <h2 class="mb-16 font-title text-2xl font-bold">Design</h2>

      <SetupDesign
        client:only="svelte"
        encodedOptions={encode(
          path?.props.options as unknown as ClubsConfiguration
        )}
        colorPresets={path?.props.colorPresets as typeof ColorPresets}
        currentPluginIndex={path?.props.clubs.currentPluginIndex}
      />

      <NextButton
        next={`/${site}/setup/memberships`}
        slot="aside:after-built-in-buttons"
      />
    </SetupLayout>
  ) : (
    <PageNotFound
      redirectionCtaText={`Take me back to previous page`}
      redirectionCtaUrl={siteBaseUrl}
    />
  )
}
