---
import Navigation from '@components/Global/Navigation.vue'
import { connectionId } from '../constants/connection'
import '../styles/global.scss'

const { metaTitle } = Astro.props
const title = metaTitle
  ? `${import.meta.env.PUBLIC_SITE_NAME}: ${metaTitle}`
  : import.meta.env.PUBLIC_SITE_NAME
---

<html class="dark" lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width" />
    <title>{title}</title>
    <link rel="icon" type="image/png" href="/favicon.png" />
    <meta
      name="description"
      content={`${import.meta.env.PUBLIC_SITE_DESCRIPTION}`}
    />
    <meta property="og:title" content={title} />
    <meta property="og:type" content="website" />
    <meta property="og:url" content={Astro.canonicalURL.href} />
    <meta
      property="og:image"
      content={`${Astro.canonicalURL.origin}/assets/og.png`}
    />
    <meta
      property="og:description"
      content={import.meta.env.PUBLIC_SITE_DESCRIPTION}
    />
    <meta property="og:site_name" content={import.meta.env.PUBLIC_SITE_NAME} />
    <meta name="twitter:site" content={import.meta.env.PUBLIC_TWITTER_USER} />
    <meta name="twitter:creator" content={import.meta.env.PUBLIC_TWITTER_USER}
    />
    <meta name="twitter:card" content="summary_large_image" />
    <meta name="twitter:title" content={title} />
    <meta
      name="twitter:description"
      content={import.meta.env.PUBLIC_SITE_DESCRIPTION}
    />
    <meta
      name="twitter:image"
      content={`${Astro.canonicalURL.origin}/assets/og.png`}
    />
  </head>

  <body class="font-body bg-black text-white min-h-screen">
    <script
      type="module"
      src="https://cdn.jsdelivr.net/npm/@devprotocol/elements@0.0.5/bundled/dev-connection.mjs"
    ></script>
    <Navigation client:only="vue" />
    <main>
      <slot />
    </main>
    <dev-connection id={connectionId}></dev-connection>
  </body>
</html>
