---
const title = 'Clubs'
const name = 'Clubs' // not sure the difference here compared to title
const description = ''
const url = ''
const ogURL = ''
const twitterHandle = 'devprtcl'
---

<!DOCTYPE html>
<html class="dark" lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width" />
    <title>{title}</title>
    <link rel="icon" type="image/png" href="/favicon.png" />
    <meta name="description" content={`${description}`} />
    <meta property="og:title" content={title} />
    <meta property="og:type" content="website" />
    <meta property="og:url" content={url} />
    <meta property="og:image" content={`${ogURL}`} />
    <meta property="og:description" content={description} />
    <meta property="og:site_name" content={name} />
    <meta name="twitter:site" content={twitterHandle} />
    <meta name="twitter:creator" content={twitterHandle} />
    <meta name="twitter:card" content="summary_large_image" />
    <meta name="twitter:title" content={title} />
    <meta name="twitter:description" content={description} />
    <meta name="twitter:image" content={`${ogURL}`} />
  </head>

  <body class="font-body bg-black text-white min-h-screen container mx-auto">
    <header class="flex justify-between py-4">
      <h1 class="text-xl font-bold">Clubs.xyz</h1>

      <nav>
        <!-- TODO: path for this -->
        <a class="border rounded py-2 px-4" href="/getstarted">Get Started</a>
      </nav>
    </header>

    <main>
      <slot />
    </main>
  </body>
</html>
